# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/

# Packaging
*.egg-info/
build/
dist/

# Testing
.pytest_cache/
.coverage

# Tooling
.ruff_cache/

# OS / editor
.DS_Store
.vscode/

# Local API output / generated data
weather_data.json

# Environment vars file
.env

# Logs
logs/
*.log
