services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
      OPENWEATHER_API_KEY: "404a27b0b94eb317ba89052b0f3108f9"
      OPENWEATHER_TIMEOUT_S: "10"
      BASE_URL: "https://api.openweathermap.org/data/3.0/onecall/timemachine"
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: unless-stopped

  airflow-init:
    image: apache/airflow:2.9.3
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "true"
      PYTHONPATH: /opt/airflow/src
      OPENWEATHER_API_KEY: "404a27b0b94eb317ba89052b0f3108f9"
      OPENWEATHER_TIMEOUT_S: "10"
      BASE_URL: "https://api.openweathermap.org/data/3.0/onecall/timemachine"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
    command: >
      bash -c "
      airflow db upgrade &&
      airflow users create
        --username admin
        --password admin
        --firstname Admin
        --lastname User
        --role Admin
        --email admin@example.com
        --skip-if-exists
      "
    restart: "no"

  airflow-webserver:
    image: apache/airflow:2.9.3
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__WEBSERVER__EXPOSE_CONFIG: "true"
      PYTHONPATH: /opt/airflow/src
      OPENWEATHER_API_KEY: "404a27b0b94eb317ba89052b0f3108f9"
      OPENWEATHER_TIMEOUT_S: "10"
      BASE_URL: "https://api.openweathermap.org/data/3.0/onecall/timemachine"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
    ports:
      - "8080:8080"
    command: webserver
    restart: unless-stopped

  airflow-scheduler:
    image: apache/airflow:2.9.3
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      PYTHONPATH: /opt/airflow/src
      _PIP_ADDITIONAL_REQUIREMENTS: "pydantic-settings"
      OPENWEATHER_API_KEY: "404a27b0b94eb317ba89052b0f3108f9"
      OPENWEATHER_TIMEOUT_S: "10"
      BASE_URL: "https://api.openweathermap.org/data/3.0/onecall/timemachine"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./src:/opt/airflow/src
    command: scheduler
    restart: unless-stopped

volumes:
  postgres-db-volume:
